## Instalando dependências

In [29]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.10)

## Inicializando banco

In [80]:
import pandas as pd
from sqlalchemy import create_engine

# ajuste conforme suas credenciais do container
USER = "user"
PASSWORD = "password"
HOST = "postgres"
PORT = "5432"
DB = "mydatabase"

engine = create_engine(f"postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB}")

## 8 - Quanto que foi vendido ($) no ano de 2009? Analisando as vendas anuais entre 2009 e 2012, podemos concluir que o faturamento vem crescendo, se mantendo estável ou decaindo?
#### R: Vem crescendo

In [88]:
query_2009 = """
SELECT SUM(v.valor_vendas) AS total_2009
FROM vendas v
JOIN pedidos p ON v.pedido_id = p.id
WHERE EXTRACT(YEAR FROM p.data) = 2009;
"""

df_2009 = pd.read_sql(query_2009, engine)
df_2009

query_vendas_anos = """
SELECT EXTRACT(YEAR FROM p.data) AS ano,
       SUM(v.valor_vendas) AS total_vendas
FROM vendas v
JOIN pedidos p ON v.pedido_id = p.id
WHERE EXTRACT(YEAR FROM p.data) BETWEEN 2009 AND 2012
GROUP BY ano
ORDER BY ano;
"""

df_vendas_anos = pd.read_sql(query_vendas_anos, engine)
df_vendas_anos

Faturamento vem crescendo

## 9 - Quais são os principais clientes (vendas $) do segmento “Calçados Masculinos” (Men ́s Footwear) no ano de 2012. Para quais cidades houve venda e quanto?

In [82]:

query_clientes_2012 = """
SELECT c.nome AS cliente,
       c.cidade,
       SUM(v.valor_vendas) AS total_vendas
FROM vendas v
JOIN pedidos p ON v.pedido_id = p.id
JOIN clientes c ON p.cliente_id = c.id
JOIN produtos pr ON v.produto_id = pr.id
JOIN categorias cat ON pr.categoria_id = cat.id
WHERE cat.nome = 'Men´s Footwear'
  AND EXTRACT(YEAR FROM p.data) = 2012
GROUP BY c.nome, c.cidade
ORDER BY total_vendas DESC;
"""

df_clientes_2012 = pd.read_sql(query_clientes_2012, engine)
df_clientes_2012

                        cliente           cidade  total_vendas
0                       Boleros             Cork      20926.43
1                     Grunewald        Cunewalde      12449.34
2                     Don Balón      México D.F.      11653.35
3                       Champes            Lille      10074.75
4                  Las Corbatas           Madrid       4545.50
5         Los Trajes de Matador          Sevilla       4328.72
6                  El Carnevale   Rio de Janeiro       4276.52
7                   Eintrach GS           Berlin       4168.03
8                   Rode & Vite        København       4031.63
9             La Roba do Santho           Lisboa       3433.14
10               Big Foot Shoes        Tsawassen       2625.36
11               La Moda Pasada      México D.F.       2517.16
12                   Urras Shop            Luleå       2085.35
13               El Zapato Rojo    San Cristóbal       1941.60
14              Le Sais de Rión           Nantes       1892.24
15                     Bond Ltd         Kirkland       1857.20
16                   Boombastic          Münster       1553.12
17              Casual Clothing             Köln       1550.90
18              Merced do Vaile        São Paulo       1124.09
19                  Man Kleider         Mannheim       1108.00
20               Nirvana Stores          Seattle       1066.38
21  Il Pantaloni di la Cammorra           Torino        929.80
22                   Th Fashing           London        690.90
23                     Macalena           Lander        630.90
24                La Ropa Vieja      México D.F.        551.14
25            Davenport Fashion         Montréal        471.74
26                  Aujourd´hui           Nantes        347.55
27             The Corner Store           Eugene        327.88
28                  Extrawagens         Salzburg        272.88
29                    El Pirata  I. de Margarita        262.80
30                  Slotzy Danz         Warszawa        215.24
31           La Moda Alucinante           Madrid        179.40
32                    La Boheme       Versailles        151.56
33                   De la Vita        Bruxelles        140.85
34         El Chandal del Barca        Barcelona        127.50
35      The sharped dressed man           London        120.96

## 10 - Na Europa, quanto que se vende ($) para cada país?

In [83]:
query_paises = """
SELECT pa.nome AS pais,
       SUM(v.valor_vendas) AS total_vendas
FROM vendas v
JOIN pedidos p ON v.pedido_id = p.id
JOIN clientes c ON p.cliente_id = c.id
JOIN paises pa ON c.pais_id = pa.id
GROUP BY pa.nome
ORDER BY total_vendas DESC;
"""

df_paises = pd.read_sql(query_paises, engine)
df_paises

           pais  total_vendas
0       Germany     519553.87
1           USA     186313.27
2        France     175565.32
3            UK     167101.36
4       Ireland     131133.21
5        Brazil     120402.85
6        Mexico      87158.31
7     Venezuela      68258.68
8       Denmark      59976.96
9        Sweden      57162.02
10      Austria      54468.49
11       Canada      53368.69
12        Spain      28460.25
13     Portugal      14230.55
14      Belgium      13952.71
15  Switzerland      12855.04
16        Italy      12205.33
17    Argentina      10353.07
18      Finland       6457.67
19       Poland       3977.18
20       Norway        193.36